@import "../../scss/colors";

:root {
    color: white;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

body {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, white 0%, #fffbfb 100%)
}

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto;
}





//$containerHeight: 90vh;
//$containerWidth: ($containerHeight/2);

$containerHeight: 100vh;
$containerWidth: 100vw;


.container {
    background: #A1FFCE; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #f0f0eb, #A1FFCE); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #f0f0eb, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    //border-radius: 20px;
    box-sizing: border-box;
    position: relative;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    //min-width: 350px;
    //border: 5px groove lightgrey;
    width: $containerWidth;
    height: $containerHeight;
    //transform: translate(0, 5%);
    margin: auto auto;

    -webkit-box-shadow: 35px 41px 105px -53px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 35px 41px 105px -53px rgba(0, 0, 0, 0.56);
    box-shadow: 35px 41px 105px -53px rgba(0, 0, 0, 0.56);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    border-radius: 50px;
    padding: 50px;
    box-sizing: border-box;

}

@media (min-width: 350px) {
    .main {
        padding: 0;
        .logo {
            width: 30%;
        }
    }
}

@media (min-width: 600px) {
    .main {
        .logo {
            width: 20%;
        }
    }
}

@media (min-width: 900px) {
    .main {
        .logo {
            width: 200px;
        }
    }
}