@import "../../scss/colors";
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 50px;
    .logo {
        width: 70%;
    }
}
