.header {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 16%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: darkviolet;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;

}